<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Chat Application</title>
</head>
<body>

<h2>One to One Chat | Spring boot & Websocket </h2>

<!--  <div class="user-form" id="username-page">
    <h2>Enter Chatroom</h2>
    <form id="usernameForm" >
    	

        

        <input type="submit" value="Click me" />
    </form>
</div>-->
<input type="hidden" id="name" name="name" th:value="${#authentication.getName()}" />
<input type="hidden" id="domain" name="domain" th:value="${ticket.domain}" >
<input type="hidden" id="user" name="user" th:value="${ticket.recipientId}" >
<div class="chat-container " id="chat-page">

    <div class="users-list">
        <div class="users-list-container">
            <h2>Consultant</h2>
            <ul id="connectedUsers">
            </ul>
        </div>
        <div>
            <p id="connected-user-fullname"></p>
            <a class="logout" th:href="@{/logout}" id="logout">Logout</a>
        </div>
    </div>

    <div class="chat-area">
        <div class="chat-area" id="chat-messages">
        </div>

        <form id="messageForm" name="messageForm" class="hidden">
            <div class="message-input">
                <input autocomplete="off" type="text" id="message" placeholder="Type your message...">
                <button>Send</button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
