<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo.png" type="image/x-icon">
    <title>Consultify Solutions</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
    <style>
        *,*::after,*::before{
            box-sizing: border-box;
        }
        html{
            scroll-behavior: smooth;
        }
        html::-webkit-scrollbar{
            display: none;
            
        }
        section{
            width: 100%;
            min-height: 100vh;
            padding: 10rem 9% 2rem;
        }
        .navbar{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 10%;
            background-color: rgb(255, 255, 255);
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .page-logo img{
            /* padding: 2rem; */
            width: 20rem;
        }
        .nav-section{
            
            width: 30%;
            display: flex;
            justify-content: space-between;
            margin-right: 2rem;
            align-items: center;

        }
        .nav-section li{
            list-style: none;
            cursor: pointer;
            /* font-size: 2.5vh; */
            font-size: 1.3rem;
            
        }
        .nav-items a{
            text-decoration: none;
            color: black;
        }
        .nav-items a:hover{
            color: rgb(0, 103, 247);
        }

        .login-register{
            width: 20%;
            height: 60%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            
        }
        .login-register button{
            padding: 12rem;
        }

        #login, #register{
            /* width: 70%; */
            display: flex;
            border-radius: 2px;
            cursor: pointer;
            background: rgb(231, 240, 255);
            color: rgb(0, 103, 247);
            border: none;
            border-radius: 15px;
            font-size: 1.2rem;
            padding: 12px;
            transition: all 0.2s linear;
        }
        #login:hover, #register:hover{
            transform: scale(1.1);
            color: white;
            background-color: rgb(0, 103, 247);
        }
        .home-page{
            width: 100%;
            height: 70%;
            /* margin: 3rem; */
            display: flex;
            justify-content: space-around;
        }
        .home-page .home-left{
            /* width: 50%; */
            font-family: Roboto;
            /* padding-top: 6rem; */
        }
        .home-left .main-content{
            /* font-size: 8vh; */
            font-size: 4.2rem;
            font-weight: bold;
            text-align: center;
        }

        .home-left .main-subtext{
            /* width: 80%; */
            font-size: 3vh;
            font-size: 1.5rem;
            text-align: center;
            color: rgb(80, 80, 80);
        }

        /* .home-right{
            width: 50%;
        } */
        .home-right img{
            /* float: right; */
            /* width: 80%; */
            /* width: 450px; */
            width: 40vw;
            animation: floatImage 4s ease-in-out infinite;
        }


        @keyframes floatImage {
            0%{
                transform: translateY(0);
            }
            50%{
                transform: translateY(-2.4rem);
            }
            100%{
                transform: translateY(0);
            }
        }
        @media (max-width: 1300px) {
            .home-page{
                flex-direction: column-reverse;
                align-items: center;
            }
            .home-right img{
                margin-top: 2rem;
                width: 70vw;
            }            
        }

    </style>
</head>
<body>
    <section class="home">
        <nav class="navbar">
            <span class="page-logo">
                <img src="main-logo.png" alt="logo">
            </span>
            <ul class="nav-section">
                <li class="nav-items"><a href="#about">About</a></li>
                <li class="nav-items"><a href="#pricing">Pricing</a></li>
                <li class="nav-items"><a href="#contact">Contact</a></li>
                
            </ul>
            <span class="login-register">
                <button id="login" type="button" ><a th:href="@{login}" style="text-decoration: none;">Login</a></button>
                <button id="register" class="active" type="button" ><a th:href="@{/register}" style="text-decoration: none;">Register</a></button>
            </span>
        </nav>
        <div class="home-page">
            <div class="home-left">
                <p class="main-content">
                    Guiding Your Success<br>One Step at a Time
                </p>
                <p class="main-subtext">Unlocking Potential Through Expert Consultancy.</p>
            </div>
            <div class="home-right">
                <img src="hero.png" alt="hero">
            </div>
        </div>
    </section>
    <section class="about" id="about">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore provident aperiam, ratione quas veniam quibusdam deleniti, suscipit odit reiciendis fuga aliquid, nemo iusto rem maiores cumque aut natus facere inventore.
        Delectus dolore dolorem sed maiores autem iusto soluta a porro voluptatum est qui neque similique cumque in optio deserunt, quod velit. Nulla, eveniet. Nam doloribus ullam perferendis! Ipsam, perspiciatis ab?
        A dolorum minus voluptate dicta, sint quo magnam autem aliquid expedita amet et, cum ex? Nobis, iure quos placeat optio porro harum animi reprehenderit accusantium adipisci aut. Illo, fugiat deserunt?
        Nam accusamus excepturi, quas minima amet aspernatur laborum necessitatibus sunt harum dolorum quaerat, magnam rerum adipisci expedita nobis minus, quisquam rem? Sit, debitis. Architecto ad nam repudiandae tenetur veniam ab?
        Sit, ad illum impedit amet nam corporis dolorum consequatur reiciendis excepturi? Corrupti dolores soluta eaque, dolorum maiores quidem tempore ratione temporibus, cumque quis modi totam, molestiae magni doloribus nulla tempora!
        Velit esse odio praesentium, ex corrupti modi fugit consequatur cum distinctio quam ducimus ipsum nisi magni sed nemo perferendis laudantium debitis quae beatae asperiores dolorem! Quidem saepe magnam sunt perspiciatis.
        Fugiat, harum tempore saepe, obcaecati voluptatibus aliquid hic pariatur quaerat autem mollitia vel natus atque error beatae numquam maiores alias veniam? Nesciunt accusantium aliquid porro nam iusto illo perspiciatis quam.
        Provident cumque minima, corrupti, incidunt optio quod cum vero perferendis labore voluptate molestiae illum tempora consectetur dolorem sunt iste deleniti soluta. Tempora, doloremque deleniti. Ab fuga ratione similique accusamus accusantium.
        Laudantium nam praesentium facere blanditiis ea sint totam, quaerat labore maxime incidunt saepe explicabo quod non dicta rerum quae tempora vitae. Temporibus porro accusantium ab ex rem eligendi, labore possimus.
        Animi ex similique, beatae voluptatem delectus esse, dignissimos, explicabo natus ratione officia magni hic dicta fugiat voluptates quae sequi excepturi praesentium. Unde, sint neque repellendus amet architecto quis maiores inventore!
        Similique necessitatibus laboriosam nostrum fugit eaque numquam quaerat tempore repellendus adipisci, earum quam vel culpa maxime est cupiditate voluptatum rerum? Natus earum amet dolorum, accusantium necessitatibus numquam repudiandae rem possimus?
        At deleniti esse ad iusto, laborum similique impedit corrupti cumque excepturi voluptatum accusantium pariatur? Illum exercitationem hic ea debitis fuga animi atque iusto. Impedit amet accusamus quidem dicta culpa vero?
        Odit incidunt doloribus, molestiae totam, illum voluptas dolores fuga doloremque similique deleniti accusantium modi fugiat repudiandae nemo! Vero accusamus optio sint, eius fugit tempora delectus molestias accusantium! Itaque, error dolore.
        Consectetur amet, ducimus saepe nobis quis molestiae mollitia, omnis quod, corporis odit neque accusamus? Suscipit, eos saepe veniam iste, blanditiis voluptatibus eum similique ipsam deleniti velit, enim officia hic odit.
        Ipsam libero voluptate aliquid. Ut repellat quos incidunt iusto. Aliquid, accusamus vero! Voluptatum laboriosam, neque impedit natus ut dicta velit totam! Iste numquam voluptatem magni officia alias, dolor commodi sed!
        Itaque, fuga? Totam, quasi architecto quia minus possimus, suscipit iusto neque atque dolores consectetur voluptate accusantium fugit eveniet nulla minima vitae. Quo minima non quod at dignissimos aspernatur quisquam consequatur?
        Tempore perferendis quasi dolores eveniet labore nisi fugiat odit delectus quos voluptatibus id, consectetur sed illo dicta magni. Maiores consectetur eaque quo commodi quae nihil ad obcaecati. Similique, natus deleniti!
        Quaerat aut explicabo repellendus vel, optio quia dolorum voluptates perspiciatis nobis dicta repellat provident soluta modi illo a exercitationem tempora, quasi rerum veritatis praesentium qui enim totam eligendi. At, praesentium!
        Aperiam magnam necessitatibus impedit nobis sed modi, nam iure? Accusamus vitae deserunt asperiores nisi, quidem beatae ad temporibus fugiat ipsum alias eos quas corrupti facilis modi vero animi natus laudantium!
        A, error sequi. Repellat vel debitis placeat nemo distinctio accusantium et! Architecto beatae repellendus nam praesentium corrupti veritatis! Error dolorum aliquid reiciendis amet mollitia, doloremque id corporis aspernatur exercitationem voluptates?
        Adipisci soluta eaque minus quam omnis? Consectetur voluptatum velit sapiente earum error ipsa ex aperiam quae corporis eaque odio illum sit, quis molestiae perferendis eligendi, consequatur, adipisci explicabo illo veniam.
        Rerum accusantium sunt, quam ducimus ratione voluptatem error ea suscipit itaque quia voluptate nesciunt a deleniti accusamus dolor! Accusantium laborum magnam recusandae rerum incidunt placeat deserunt in natus molestiae veniam.
        Eaque ab eligendi officia doloremque possimus accusantium ducimus magnam non in, consectetur unde sapiente mollitia voluptate sunt aperiam. Ab sint asperiores temporibus? Non cum corrupti beatae laboriosam. Quasi, aut dignissimos?
        Optio nobis veniam porro corporis ipsum est perferendis deserunt, tenetur illum vitae nihil laudantium, sint illo debitis eos totam provident atque! Possimus necessitatibus quaerat, eum cumque veritatis fugiat totam. Minus.
        Modi libero repellat fugit, similique harum quaerat unde cupiditate tenetur facere aspernatur molestiae ducimus ullam illo laudantium ea, iure laborum rem. Esse quisquam similique dolorum molestias delectus voluptas nobis quasi?
        Iste, alias ex repudiandae porro temporibus voluptates reprehenderit nihil eveniet quo dicta sunt debitis repellendus non in dolore nam, excepturi veritatis assumenda! Fugiat temporibus esse dolore omnis nihil rem praesentium.
        Enim esse sequi ipsum provident earum modi. Ea, omnis! Repellat ipsam sapiente nemo consequuntur officiis magni numquam, consequatur eligendi adipisci asperiores quod blanditiis! Libero distinctio aut tempore, quaerat voluptatem beatae.
        Tenetur, beatae. Laborum minima magni provident ea cumque modi voluptates. Praesentium molestias laudantium, ex ipsam id est accusantium eligendi velit provident tenetur quis natus quae pariatur. Enim possimus sapiente distinctio.
        Architecto maiores iusto quaerat perspiciatis, nulla debitis molestias sunt nobis est deserunt nisi assumenda obcaecati excepturi minima, ex dolore sint. Quibusdam vel ut quis dolorum, inventore ex dolore. Doloribus, necessitatibus.
        Libero architecto itaque molestiae voluptas alias magnam incidunt nam cum sint ab expedita optio voluptatum vero, soluta adipisci asperiores veniam repellat dolorem. Repellat ullam molestias tempora eaque similique doloribus cupiditate!
        Recusandae quasi adipisci ab repellat quo saepe provident impedit nulla quidem quisquam. Tenetur cumque vel quibusdam! Exercitationem, neque unde tempora eius sit, ducimus eaque nemo cum quibusdam earum voluptatem? Eum.
        Modi natus voluptatem eveniet a perspiciatis quibusdam, quae dolor ducimus odit, architecto neque laudantium voluptatum quam, repellendus ab aliquam quasi eum? Debitis cupiditate tenetur ipsa quaerat natus neque assumenda temporibus?
        Dolorem modi perferendis accusantium culpa soluta incidunt pariatur fugiat ex impedit, ipsam provident recusandae reiciendis assumenda officiis vero voluptas quaerat non alias error quibusdam magni, placeat beatae libero? Expedita, corporis!
        Eligendi debitis sequi, corrupti et voluptas cum fugiat necessitatibus autem esse id neque distinctio sapiente pariatur non perspiciatis molestias at quos laborum inventore, aliquid amet a ex? Dolor, iste temporibus.
        Autem ullam eum corporis dolor nobis? Perferendis eos, enim, sint, ullam in officiis maxime ratione aut cumque consequuntur ut magni tempora! Tempora iste enim repellat blanditiis sequi vero eligendi deleniti?
        Nesciunt, modi quae minus tempore ipsam omnis, tempora adipisci possimus, error laborum a provident nulla eos! Tempora asperiores nam eum fugiat, totam tempore dolorem eveniet rerum nostrum, ipsum blanditiis praesentium?
        Iusto, tenetur voluptate nihil quae accusamus tempora quas quibusdam veniam aspernatur inventore unde ipsa, nisi voluptatem nesciunt. Veritatis aut quae, at quidem quos, labore pariatur maiores nihil consequuntur culpa officia.
        Enim ex, debitis vero eum facere illum voluptatem asperiores error, suscipit, totam fuga! Doloremque rem labore ipsum! Pariatur voluptate deleniti, veniam tempore consequatur amet cupiditate ab libero hic mollitia nisi!
        Perspiciatis fugit iste culpa laborum quo corrupti repellat nesciunt eius enim rerum mollitia, dicta eligendi inventore provident ipsum dolor temporibus, voluptatum qui commodi. Facilis quas deserunt eveniet distinctio culpa asperiores?
        Fuga architecto voluptas obcaecati quisquam explicabo commodi asperiores quam nihil rerum nisi culpa a ipsum tempora itaque nobis, quod at consectetur officiis temporibus inventore. Animi nihil labore optio obcaecati assumenda!
        Adipisci ex reiciendis ipsum repellat quae voluptatibus omnis itaque aut magnam nihil? Magni dolor beatae pariatur reprehenderit! Inventore beatae voluptatibus provident iste exercitationem, quo harum? Earum, commodi harum! Nulla, excepturi.
        Sint, aut delectus! Vero incidunt deleniti, veniam eius repellendus, sit nesciunt commodi tempora cupiditate, sapiente aliquid modi laudantium totam accusantium quo nam obcaecati soluta? Debitis quod non temporibus ea quia!
        Consequuntur sint eveniet unde a necessitatibus commodi repudiandae eos, dolores voluptatibus nihil consectetur quibusdam? Aliquam aspernatur officiis cupiditate, nulla explicabo officia. Eligendi illo reiciendis sapiente adipisci quam recusandae, impedit consequatur?
        At laudantium aliquam dolorum vitae asperiores eligendi esse sapiente similique eius quas vero, id excepturi ullam, totam eaque magnam expedita, molestiae aperiam maiores quasi incidunt. Itaque nesciunt molestiae fugiat modi.
        Veniam ipsum earum sunt unde autem a optio ducimus, necessitatibus incidunt asperiores quas enim minima alias in aperiam! Facilis, repellat. Quis debitis mollitia quaerat magnam possimus sed distinctio ut provident.
        Rerum nemo vero tenetur quo voluptatem, dolorem nisi illum beatae, cum fuga quis eligendi laboriosam quia omnis aspernatur illo quibusdam! Maiores, cupiditate nam? Iste illo mollitia iure perferendis ex sapiente!
        Corporis asperiores eveniet sint molestias enim, adipisci harum doloribus perferendis eos, hic, similique exercitationem. A quibusdam rem iure numquam aliquid. Molestiae, doloribus. Quisquam eos aperiam iste magnam? Ipsum, temporibus impedit.
        Nulla autem quos, ea dolores in consectetur corporis? Facere magni quidem tenetur, at quo non eaque dolor! Laborum et tenetur fuga repellendus aliquam ipsa consectetur, quam adipisci, tempore illum modi.
        Voluptatum reiciendis amet voluptas a tempora molestias, accusantium vel cumque repellendus totam, est quaerat itaque exercitationem illum nostrum, perferendis dolorum maiores non eaque laboriosam vero blanditiis deleniti qui? Natus, eligendi!
        Ducimus fugit optio tempora iste corporis id sit sint labore eius, consectetur saepe nesciunt architecto unde harum voluptate voluptatem quibusdam cupiditate voluptatum nemo repellendus laboriosam modi nobis dolorem? Impedit, omnis.
        Incidunt nam accusantium non quia quo consequatur quis sint enim totam sunt illum, vitae saepe molestiae sit ipsa natus quisquam fugiat laborum, tempora atque consequuntur qui iste suscipit mollitia. Delectus.
        Reiciendis, est ab. Reprehenderit recusandae dolorum quia dolore, aliquid nobis optio quam id. Vel quae beatae voluptas officiis? Veritatis recusandae fugiat rem. Hic sapiente reprehenderit consequatur beatae quis nobis quae?
        Delectus blanditiis recusandae explicabo nihil sint? Voluptas voluptatibus dolorem neque, veritatis aspernatur exercitationem iste! Cupiditate, temporibus, natus doloribus quo neque qui repellat porro quod alias sunt labore eius expedita quis!
        Consequatur velit dicta quis temporibus ipsa, magnam exercitationem suscipit minus nihil libero, numquam sit aperiam iste sed laboriosam voluptates deleniti! Ad, quis? Facere eveniet, deleniti delectus expedita exercitationem quia et?
        Nesciunt aperiam aut culpa aspernatur ducimus reprehenderit delectus, expedita error esse inventore voluptatibus ad architecto soluta voluptate suscipit quis reiciendis quas rerum quia obcaecati omnis voluptas! Dolor at nihil architecto.
        Deleniti, quis ut excepturi numquam, totam voluptates, vel pariatur commodi obcaecati eaque vitae deserunt necessitatibus eligendi quasi possimus adipisci illum labore esse dolore tempore ab. Laborum facere necessitatibus assumenda fugit.
        Porro, possimus nobis maxime totam explicabo expedita dolores dignissimos incidunt facere numquam excepturi dolor quia odio sapiente ipsum. Molestiae explicabo hic voluptas cumque expedita atque labore quas itaque repellat officiis!
        Placeat rerum adipisci quae veniam suscipit voluptatum? Aspernatur in blanditiis perferendis corrupti reiciendis eos at veniam iure praesentium. Alias doloremque incidunt blanditiis cumque dignissimos natus sequi earum dolorem fugit veritatis?
        Sunt illo velit, cupiditate mollitia voluptates in exercitationem accusamus unde dolorum reiciendis eveniet perferendis, ullam accusantium deleniti saepe fugit! Atque mollitia obcaecati in! Enim, omnis quod eaque quisquam necessitatibus cum.
        Id obcaecati aspernatur, eveniet recusandae vel asperiores reprehenderit consequuntur similique. Et molestiae eius laborum suscipit nihil nulla voluptas aut commodi sunt eaque. Labore perspiciatis sunt deleniti. Commodi veritatis exercitationem corrupti?
        Neque, nesciunt inventore minima voluptas qui accusamus! Dolorum, corrupti voluptatem. Earum officia eligendi est excepturi quod qui voluptatem sapiente quos esse inventore, perferendis, voluptate eveniet molestiae. Porro, a perspiciatis! Aperiam!
        Maiores corporis facere delectus amet ducimus fugiat, alias corrupti ea natus dolore vitae quae perspiciatis nihil ut esse porro animi assumenda, molestiae rem officiis accusantium optio vero facilis voluptatem. Quidem.
        Doloremque, enim dolorem. Tempora, ipsum natus? Eos voluptas saepe, debitis perferendis reiciendis ratione architecto, quidem accusantium nostrum laborum quis expedita eum! Minima optio nisi exercitationem recusandae enim facere ut. Molestiae.
        Eveniet eum ipsam atque consequatur nesciunt et cupiditate quam aspernatur itaque, natus temporibus debitis reprehenderit perspiciatis, pariatur est consectetur. Rerum labore provident ullam amet asperiores eius fugit eaque suscipit doloremque.
        Exercitationem totam sunt dicta laboriosam architecto voluptates neque distinctio assumenda natus alias vero a officiis perspiciatis, veritatis ullam deleniti quae nisi quis cumque minima similique. Quas optio doloremque sit corrupti.
        Ratione nemo ullam a laboriosam temporibus itaque blanditiis dolore tempore. Deserunt facere nostrum amet est non esse neque impedit consequatur reiciendis doloremque ipsum, sit porro atque. Nisi magnam minima laboriosam.
        Quod, sapiente natus dolorem quas culpa maiores delectus ut temporibus accusantium voluptas necessitatibus labore repudiandae. Rem, alias ipsam quas exercitationem deserunt repellendus? Voluptates minus exercitationem dicta itaque optio suscipit autem?
        Eligendi quidem necessitatibus sit dicta sint recusandae blanditiis culpa architecto facilis ab illo labore ipsum, obcaecati harum provident saepe, molestiae, laborum dolorem error quas suscipit tenetur corporis excepturi inventore. Fugiat.
        Quasi amet hic nisi commodi doloremque voluptatibus eveniet non quo, debitis facere qui nulla veniam suscipit perferendis cupiditate quod libero excepturi, vitae accusamus, iure similique minus cum voluptates. Iusto, eius!
        Impedit veritatis sapiente soluta minus earum harum molestiae suscipit deserunt tempore dignissimos magni ut, distinctio officia fugiat, amet ipsam, dolorum placeat voluptatem inventore ab! Autem explicabo quam in tempora nam!
        Illum necessitatibus sapiente et praesentium itaque reprehenderit sequi aut illo quam blanditiis autem aperiam maiores sunt quis rem voluptatem, fuga ipsam sed repudiandae, similique delectus doloremque? Placeat in porro asperiores.
        Nihil veritatis laboriosam corporis ipsum eum ullam ratione voluptatibus blanditiis nemo quas sit eos at debitis natus magni esse incidunt doloribus adipisci facere nostrum vel, omnis voluptatem soluta! Assumenda, id.
        Asperiores numquam sint nisi voluptatem, blanditiis quisquam eveniet odio saepe illum in tempore commodi ut velit eos aut. Cupiditate maiores cumque at eligendi rem repudiandae officiis aut eos enim eaque.
        Velit quisquam unde saepe quibusdam, repudiandae aperiam eaque molestiae adipisci, perspiciatis non dolores obcaecati aliquam at consequatur suscipit et reprehenderit veritatis cumque odit omnis optio corporis explicabo! Ut, maxime voluptatem.
        Corporis quaerat eos provident sunt. Ratione incidunt, autem animi, voluptatem pariatur libero sapiente earum nesciunt cum doloremque ut numquam nisi quasi nihil dignissimos aut molestias rem est, provident reiciendis inventore!
        Corporis quas facere assumenda odio, eveniet labore, quasi, laudantium maiores nam autem ducimus delectus eligendi in earum repellendus nisi officiis minus. Neque consectetur placeat dolor voluptate at labore! Ullam, similique!
        Iste fugit quis, reiciendis debitis voluptatibus aspernatur expedita id laudantium exercitationem dicta voluptate est voluptatum dolorem sint. Sunt minima non nesciunt, blanditiis laudantium molestias culpa minus corporis animi omnis cupiditate?
        Ea cumque hic autem repudiandae iste error minima. Recusandae quia ad quidem esse dolorem dolore. Quo accusantium, odit nostrum incidunt quaerat vel quia suscipit quasi nisi. Fuga sit doloribus sed.
        Assumenda in tenetur beatae repudiandae! Hic eum vel minima similique eligendi placeat possimus fugiat eveniet delectus a consectetur aspernatur incidunt reprehenderit veniam, dolorem inventore adipisci omnis, dolorum nemo molestias consequuntur!
        Ab expedita provident nemo sed odit esse mollitia ad id dolorem! Labore, distinctio. Saepe labore quo eius eligendi quibusdam at minima, enim illo nisi, laborum aperiam aut voluptatum, veritatis eos!
        Excepturi vitae maxime, dolor iste similique ut incidunt consequuntur minus repellat! At atque voluptates eius ratione, temporibus quos totam praesentium sint exercitationem, officiis repudiandae molestias ipsam ipsum in assumenda fugiat.
        Molestias pariatur iusto qui eius minus voluptates sit, saepe eligendi architecto alias quaerat quibusdam est libero ratione harum obcaecati enim velit numquam atque nihil praesentium asperiores sequi! Enim, reiciendis placeat.
        Ea tempore repudiandae, beatae velit tempora consequuntur laborum! Odio sed laudantium placeat asperiores corrupti repudiandae assumenda maxime eaque dicta! Soluta perspiciatis earum aut suscipit ab enim quo voluptas fuga quibusdam?
        Quam a fugiat magni unde aliquid qui sequi minus reprehenderit molestias delectus, consequuntur aliquam, laborum repellat, quod voluptatum saepe error. Totam incidunt quibusdam aliquid ullam, maiores neque quod dolores repudiandae.
        Rerum explicabo numquam dolor nostrum ut rem, unde corporis ratione, quae debitis perferendis dicta, aut labore voluptates possimus maxime aspernatur accusamus aperiam cupiditate earum praesentium nisi repudiandae quidem asperiores! Consectetur.
        Id veritatis perferendis eius recusandae similique aliquid, provident amet esse accusantium totam cumque quibusdam mollitia repudiandae porro molestiae obcaecati, ab neque tempore dolor rem blanditiis debitis error. Dignissimos, error enim!
        Dolorem eligendi molestiae, pariatur sint, minima aspernatur quis magnam consequuntur dolores, temporibus earum necessitatibus eaque quidem laboriosam maiores amet maxime sapiente officiis nesciunt ullam perspiciatis itaque eius! Nulla, laborum ullam.
        Eveniet vitae eius assumenda sunt facilis voluptates debitis doloribus omnis? Nobis eos quis quaerat ipsum, iusto odio commodi. Optio, accusamus molestiae harum quas atque repudiandae iusto cum exercitationem nobis adipisci.
        Totam quis laudantium, eligendi officiis cum fugiat. Minus saepe dolorum dolores impedit ipsam doloribus recusandae inventore cum reiciendis ab iure, ipsum velit aut praesentium, eveniet veniam ut repellat laborum ratione?
        Nisi non tempora unde animi. Quisquam laboriosam dolore eaque eum, culpa, rem repellat repellendus accusantium cumque asperiores veniam adipisci animi architecto at incidunt libero. Iusto quos esse nihil labore ipsum?
        Cum unde veritatis aspernatur labore praesentium explicabo ex perspiciatis iste odio fuga iure, molestiae ratione iusto id nemo optio, consequatur maiores quasi aliquam a facere. Ipsum atque necessitatibus reiciendis excepturi.
        Impedit mollitia, molestiae maxime magnam, sapiente nihil exercitationem necessitatibus officia, nobis autem veniam optio? Numquam, unde, nam illum sapiente aliquid nulla nisi alias, facilis nostrum rem tenetur ipsa est doloribus.
        Nemo dolor quos aspernatur distinctio facilis! Fugit, repellendus cumque dolorem earum nesciunt natus omnis ipsam molestias aperiam suscipit odit, autem tenetur! Voluptatem, animi dolorum dolore quos culpa porro corporis suscipit!
        Aperiam vitae aliquam corporis consectetur unde dicta nulla ex vel libero at? Nostrum delectus, laudantium, quaerat eligendi dolores perspiciatis reiciendis aliquam, libero impedit perferendis enim iusto beatae aperiam suscipit accusantium.
        Corrupti sequi dolore dignissimos quo nisi, atque eum quod animi, doloremque, laboriosam quam obcaecati libero deserunt autem voluptas placeat expedita aperiam! Praesentium laudantium eaque autem consequuntur rerum rem pariatur voluptas!
        Maiores similique voluptatum eius molestiae officia ratione non ad eos voluptate consectetur nihil id, molestias quo aliquid laudantium ea cupiditate error nam numquam modi nostrum voluptates expedita dolorem minima. Blanditiis.
        Iure, consequatur. Fugit quisquam alias, voluptatem recusandae voluptas facilis sapiente esse veniam enim maxime, illum est hic, placeat itaque reiciendis eaque amet voluptate doloremque magni perspiciatis omnis. Exercitationem, commodi libero?
        Deleniti nobis repellendus ratione modi esse et amet deserunt! Vel illum eius voluptatum ea sit cumque. Unde enim laudantium ut iste, consequuntur pariatur sunt, omnis nam, vel animi fugiat optio?
        Adipisci corrupti omnis consectetur commodi rem laudantium aperiam ipsam tenetur! Quo, vero ducimus? Nostrum excepturi illo necessitatibus aliquam dolore quaerat, eos officia? Esse soluta et eum, reprehenderit culpa veniam inventore!
        Vel eos itaque ratione harum nesciunt molestias deleniti voluptatibus odio praesentium, quod repellat, fugiat aliquid cum obcaecati dolorem nostrum, excepturi cumque quos sed? Hic est, facere maxime obcaecati odio ipsam.</p>
    </section>
    
</body>
</html>